* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Code Pro", monospace;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #045b88;
}
a:hover {
  text-decoration: underline;
}
